
body {
    transition: background 0.2s linear;
}


.check {
    opacity: 0;
    position: absolute;
}

.label {
    border-radius: 50px;
    cursor: pointer;

    justify-content: space-between;
    margin: auto;
    display: flex;
    
    width: 50px;
    padding: 10px;
    
}


footer {
    color: rgb(255, 255, 145);
}